{% extends "anonimo.html.twig" %}

{% block content %}

    <div class="center_div login">
        {% if error != '' %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        <form class="" action="{{ path('login_check') }}" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="center-block" src="{{ asset('img/logo.png') }}" alt="">
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" name="_username" required value="{{ last_username }}" class="form-control" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for=""></label>
                        <input type="password" name="_password" required value="" class="form-control" id="" placeholder="Clave">
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success" name="button">Ingresar</button>
                    <a href="#" class="pull-right">¿Olvidaste tu clave?</a>
                </div>
            </div>
            <a href="#" class="btn btn-default" style="width:275px;">Crea una cuenta (es gratis)</a>
        </form>
    </div>

{% endblock %}
