{% extends "layout.html.twig" %}

{% block content %}
    <h2>Aprender desarrollo web</h2>

      <form class="" method="get">
        <input autofocus type="text" name="nombre" class="form-control" placeholder="Escriba una tarea y presione la tecla Enter">
      </form>
     <hr>

    <div class="panel panel-default">
        <div class="panel-body">

          {% for tarea in tareas %}
            <div class="tarea">
                <a href="{{ url('tareas_completar', {'id':  tarea.id  }) }}"><i class="fa fa-check" aria-hidden="true"></i></a>
                {{ tarea.nombre }}
                <span class="pull-right">
                    <a href="{{ url('tareas_borrar', {'id':  tarea.id  }) }}" ><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </span>
            </div>


          {% endfor %}


        </div>
    </div>
{% endblock %}
